<!DOCTYPE html>
<div class="page-container">
    <app-slide-input [label]="'Hit Chance (%)'" [max]="100" [min]="0" [default]="100" [step]="5"></app-slide-input>
    <app-slide-input [label]="'Skill Effect Chance (%)'" [max]="100" [min]="0" [default]="100" [step]="5"></app-slide-input>
    <app-slide-input [label]="'Caster\'s Effectiveness'" [max]="400" [min]="0" [default]="0"></app-slide-input>
    <app-slide-input [label]="'Target\'s Effect Resistance'" [max]="400" [min]="0" [default]="0"></app-slide-input>
    <div class="result-cards neat-container">
        <app-header-card></app-header-card>
        <app-header-card></app-header-card>
        <app-header-card></app-header-card>
    </div>
</div>
