<!DOCTYPE html>
<div class="page-container sticky-bottom">
    <span class="page-body">
        <app-dismissible [content]="'damageCalculatorUpdates' | translate:'info':languageService.language.value" [color]="DismissibleColorOption.info"></app-dismissible>
        <div class="filter-select-container full-width neat-container" [ngClass]="!screenService.mediumSmallScreen.value ? 'column-3' : 'flex-column'">
            <mat-form-field class="neat-container has-icons">
                <img class="png-icon medium tiny-margin-right select-icon" src="assets/elements/{{hero.element}}.png" alt="{{hero.element}}">
                <img class="png-icon medium tiny-margin-right select-icon-2" src="assets/classes/{{hero.class}}.png" alt="{{hero.class}}">
                <mat-select [formControl]="heroControl" placeholder="" #singleSelect (selectionChange)="selectHero($event.value)">
                    <mat-option>
                        <ngx-mat-select-search spellcheck="false" [formControl]="heroFilterControl" placeholderLabel="Find hero..."></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let hero of filteredHeroes" class="has-icons" [value]="hero[0]">
                        <img class="png-icon medium tiny-margin-right select-option-icon" src="assets/elements/{{hero[1].element}}.png" alt="{{hero[1].element}}">
                        <img class="png-icon medium tiny-margin-right select-option-icon-2" src="assets/classes/{{hero[1].class}}.png" alt="{{hero[1].class}}">
                        {{hero[0] | translate:'heroes':languageService.language.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="neat-container has-icon">
                <img class="png-icon medium tiny-margin-right select-icon" src=" assets/{{artifact.heroExclusive.length ? 'heroes' : 'classes'}}/{{artifact.heroExclusive.length ? artifact.heroExclusive[0] + '-icon' : artifact.exclusive}}.png" alt="{{artifact.exclusive}}">
                <mat-select [formControl]="artifactControl" placeholder="" #singleSelect (selectionChange)="selectArtifact($event.value)">
                    <mat-option>
                        <ngx-mat-select-search spellcheck="false" [formControl]="artifactFilterControl" placeholderLabel="Find artifact..."></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let artifact of filteredArtifacts" class="has-icon" [value]="artifact[0]" [disabled]="(artifact[1].exclusive !== 'common' && artifact[1].exclusive !== hero.class) || (!!artifact[1].heroExclusive.length && !(artifact[1].heroExclusive.includes(heroID)))">
                        <img class="png-icon medium tiny-margin-right select-option-icon" src=" assets/{{artifact[1].heroExclusive.length ? 'heroes' : 'classes'}}/{{artifact[1].heroExclusive.length ? artifact[1].heroExclusive[0] + '-icon' : artifact[1].exclusive}}.png" alt="{{artifact[1].exclusive}}">
                        {{artifact[0] | translate:'artifacts':languageService.language.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="neat-container">
                <mat-select [formControl]="attackPresetControl" placeholder="" #singleSelect>
                    <mat-option *ngFor="let attackPreset of attackPresets" [value]="attackPreset[0]">
                        <span class="flex-row neat-container">{{attackPreset[0] | translate:'form':languageService.language.value}}<p *ngIf="attackPreset[1].attack && attackPreset[1].critDamage" class="preset-hint"> ({{attackPreset[1].attack}}atk/{{attackPreset[1].critDamage}}%cdam)</p></span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="neat-container full-width">
            <app-slide-input #slideInput
                [label]="'attack' | translate:'form':languageService.language.value"
                [max]="10000" [min]="200" [default]="2500" (valueChange)="inputChange('attack', $event)"
                [column]="screenService.mediumScreen.value">
            </app-slide-input>
        </div>
        <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input #slideInput
                    [label]="'attackImprint' | translate:'form':languageService.language.value"
                    [max]="50" [min]="0" [default]="0" (valueChange)="inputChange('attackImprint', $event)"
                    [column]="!screenService.largeScreen.value" [hint]="'attackImprintHint' | translate:'form':languageService.language.value">
                </app-slide-input>
            </div>
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input #slideInput
                    [label]="'attackIncrease' | translate:'form':languageService.language.value"
                    [max]="20" [min]="0" [default]="0" (valueChange)="inputChange('attackIncreasePercent', $event)"
                    [column]="!screenService.largeScreen.value" [hint]="'attackIncreaseHint' | translate:'form':languageService.language.value">
                </app-slide-input>
            </div>
        </div>
        <div class="neat-container full-width">
            <app-slide-input #slideInput
                [label]="'critDamage' | translate:'form':languageService.language.value"
                [max]="350" [min]="150" [default]="250" (valueChange)="inputChange('critDamage', $event)"
                [column]="screenService.mediumScreen.value">
            </app-slide-input>
        </div>
        <div class="neat-container full-width">
            <app-slide-input #slideInput
                [label]="'damageIncrease' | translate:'form':languageService.language.value"
                [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageIncrease', $event)"
                [column]="screenService.mediumScreen.value" [hint]="'damageIncreaseHint' | translate:'form':languageService.language.value">
            </app-slide-input>
        </div>
        <div class="checkbox-holder">
            <mat-checkbox class="small-margin-top" [checked]="inputValues.elementalAdvantage" (change)="inputChange('elementalAdvantage', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/elements/{{advantageousElement}}.png" alt="{{advantageousElement}}">
                    {{'elementalAdvantage' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.decreasedAttack" (change)="inputChange('decreasedAttack', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/debuffs/attack-debuff.png" alt="Attack break">
                    {{'decreasedAttack' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.attackUp" (change)="inputChange('attackUp', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/attack-buff.png" alt="Attack buff">
                    {{'increasedAttack' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.attackUpGreat" (change)="inputChange('attackUpGreat', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/greater-attack-buff.png" alt="Greater attack buff">
                    {{'increasedAttackGreat' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.increasedCritDamage" (change)="inputChange('increasedCritDamage', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/critical-hit-damage-buff.png" alt="Crit damage buff">
                    {{'increasedCritDamage' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.casterVigor" (change)="inputChange('casterVigor', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/vigor-buff.png" alt="vigor buff">
                    {{'vigor' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <!-- TODO: edit set pngs to have no margin -->
            <mat-checkbox class="small-margin-top" [checked]="inputValues.rageSet" (change)="inputChange('rageSet', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/rage-set.png" alt="Rage set">
                    {{'rageSet' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.penetrationSet" (change)="inputChange('penetrationSet', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/penetration-set.png" alt="Penetration set">
                    {{'penetrationSet' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="!!inputValues.torrentSetStack" (change)="inputChange('torrentSetStack', ($event.checked ? 1 : 0))">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/torrent-set.png" alt="Torrent set">
                    {{'torrentSet' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
        </div>
        <div *ngIf="stackingSets.length" class="artifact-block header-block">
            <h1>{{'numberOfSets' | translate:'ui':languageService.language.value}}</h1>
            <div class="neat-container full-width">
                <div *ngFor="let set of stackingSets" class="full-width">
                    <app-slide-input #slideInput
                        [label]="set | translate:'form':languageService.language.value"
                        [max]="3" [min]="1" [default]="1"
                        (valueChange)="inputChange(set, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
            </div>
        </div>
        <div *ngIf="artifact.id !== 'noProc' && (artifact.scale || artifactSpecificNumberInputs.length || artifactSpecificBooleanInputs.length)" class="artifact-block header-block">
            <h1>{{'artifact' | translate:'ui':languageService.language.value}}</h1>
            <div class="neat-container full-width">
                <app-slide-input #slideInput *ngIf="artifact.scale"
                    [label]="'level' | translate:'form':languageService.language.value"
                    [max]="30" [min]="0" [default]="30" (valueChange)="inputChange('artifactLevel', $event)"
                    [column]="screenService.mediumScreen.value">
                </app-slide-input>
                <div *ngFor="let input of artifactSpecificNumberInputs" class="full-width">
                    <app-slide-input #slideInput
                        [label]="input | translate:'form':languageService.language.value"
                        [max]="artifactSpecificMaximums[input] || formDefaults[input]?.max || 10000"
                        [min]="formDefaults[input]?.min || 0" [step]="formDefaults[input]?.step || 1"
                        [default]="inputDefaultOverrides[input] || formDefaults[input]?.defaultValue || 0"
                        (valueChange)="inputChange(input, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div class="checkbox-holder">
                    <mat-checkbox *ngFor="let input of artifactSpecificBooleanInputs"
                        class="small-margin-top" [checked]="!!inputValues[input]"
                        (change)="inputChange(input, $event.checked)">
                        <span class="neat-container">
                            <img class="png-icon medium tiny-margin-right" src="assets/{{formDefaults[input]?.icon}}" [class.icon]="formDefaults[input]?.svgIcon" alt="{{advantageousElement}}">
                            {{input | translate:'form':languageService.language.value}}
                            <img class="icon tiny tiny-margin-left" *ngIf="formDefaults[input]?.hint" src="assets/icons/help-circle-outline.svg" alt="Hint" matTooltip="{{formDefaults[input]?.hint}}">
                        </span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="target-block header-block" [class.single-column]="screenService.mediumSmallScreen.value">
            <div class="filter-select-container full-width neat-container jumbo-margin-top" [ngClass]="!screenService.mediumSmallScreen.value ? 'column-3' : 'flex-column'">
                <h1 class="line-title">Target</h1>
                <mat-form-field class="neat-container">
                    <mat-select [formControl]="targetPresetControl" placeholder="" #singleSelect>
                        <mat-select-trigger>{{targetPresetControl.value?.id}}</mat-select-trigger>
                        <mat-option>
                            <ngx-mat-select-search spellcheck="false" [formControl]="targetPresetFilterControl" placeholderLabel="Find Defense Preset..."></ngx-mat-select-search>
                        </mat-option>
                        <mat-optgroup *ngFor="let targetPresetGroup of filteredTargetPresetGroups" [label]="targetPresetGroup[0]">
                            <mat-option *ngFor="let targetPreset of targetPresetGroup[1]" [value]="targetPreset">
                                <span class="flex-row neat-container">{{targetPreset.id | translate:'form':languageService.language.value}}<p *ngIf="targetPreset.hp" class="preset-hint"> ({{targetPreset.hp + ' hp' + (targetPreset.speed ? '/' + targetPreset.speed + ' spd' : '')}})</p></span>
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="neat-container">
                    <mat-select [formControl]="reductionPresetControl" placeholder="" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search spellcheck="false" [formControl]="reductionPresetFilterControl" placeholderLabel="Find Reduction Preset..."></ngx-mat-select-search>
                        </mat-option>
                        <mat-select-trigger>{{reductionPresetControl.value?.id}}</mat-select-trigger>
                        <mat-optgroup *ngFor="let reductionPresetGroup of filteredReductionPresetGroups" [label]="reductionPresetGroup[0]">
                            <mat-option *ngFor="let reductionPreset of reductionPresetGroup[1]" [value]="reductionPreset">
                                <span class="flex-row neat-container">{{reductionPreset.id | translate:'form':languageService.language.value}}<p *ngIf="reductionPreset.damageReduction || reductionPreset.damageTransfer" class="preset-hint"> {{reductionPreset.damageReduction || reductionPreset.damageTransfer}}%{{reductionPreset.defenseIncrease ? (' (+' + reductionPreset.defenseIncrease + '% Defense)') : ''}}</p></span>
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input #slideInput
                        [label]="'defense' | translate:'form':languageService.language.value"
                        [max]="5000" [min]="200" [default]="1000" (valueChange)="inputChange('targetDefense', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input #slideInput
                        [label]="'defenseIncrease' | translate:'form':languageService.language.value"
                        [max]="20" [min]="0" [default]="0" (valueChange)="inputChange('targetDefenseIncrease', $event)"
                        [column]="screenService.mediumScreen.value" [hint]="'defenseIncreaseHint' | translate:'form':languageService.language.value">
                    </app-slide-input>
                </div>
            </div>
            <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input #slideInput
                        [label]="'damageReduction' | translate:'form':languageService.language.value"
                        [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageReduction', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input #slideInput
                        [label]="'damageTransfer' | translate:'form':languageService.language.value"
                        [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageTransfer', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
            </div>
            <div class="checkbox-holder">
                <!-- <mat-checkbox class="small-margin-top" (click)="toggleStigmaPolitis()" [checked]="this.stigmaPolitis"> -->
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetDefenseUp" (change)="inputChange('targetDefenseUp', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/buffs/defense-buff.png" alt="Defense Buff">
                        {{'increasedDefense' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetVigor" (change)="inputChange('targetVigor', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/buffs/vigor-buff.png" alt="Vigor Buff">
                        {{'vigor' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetDefenseDown" (change)="inputChange('targetDefenseDown', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/debuffs/defense-debuff.png" alt="Defense break">
                        {{'decreasedDefense' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetTargeted" (change)="inputChange('targetTargeted', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/debuffs/target-debuff.png" alt="Target debuff">
                        {{'target' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
            </div>
        </div>
        <div *ngIf="hero.heroSpecific.length" class="hero-specific-block header-block">
            <!-- TODO: translate -->
            <h1>Hero Specific</h1>
            <div class="neat-container full-width">
                <div *ngFor="let input of heroSpecificNumberInputs" class="full-width">
                    <app-slide-input #slideInput
                        [label]="input | translate:'form':languageService.language.value"
                        [max]="heroSpecificMaximums[input] || formDefaults[input]?.max || 10000"
                        [min]="formDefaults[input]?.min || 0" [step]="formDefaults[input]?.step || 1"
                        [default]="formDefaults[input]?.defaultValue || 0"
                        (valueChange)="inputChange(input, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div class="checkbox-holder">
                    <mat-checkbox *ngFor="let input of heroSpecificBooleanInputs"
                        class="small-margin-top" [checked]="!!inputValues[input]"
                        (change)="inputChange(input, $event.checked)">
                        <span class="neat-container">
                            <img class="png-icon medium tiny-margin-right" src="assets/{{formDefaults[input]?.icon}}" [class.icon]="formDefaults[input]?.svgIcon" alt="{{advantageousElement}}">
                            {{input | translate:'form':languageService.language.value}}
                            <img class="icon tiny tiny-margin-left" *ngIf="formDefaults[input]?.hint" src="assets/icons/help-circle-outline.svg" alt="Hint" matTooltip="{{formDefaults[input]?.hint}}">
                        </span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="skill-enhance-block header-block">
            <h1>Skill Enhance</h1>
            <div class="multi-slide">
                <div *ngFor="let skill of skills" class="neat-container full-width">
                    <app-slide-input #slideInput *ngIf="skill.enhance?.length"
                        [label]="skill.id | translate:'skills':languageService.language.value" [extraLabel]="'+' + molagoraModifiers['molagora' + skill.id] + '%'"
                        [max]="skill.enhance.length" [min]="0" [default]="skill.enhance.length" (valueChange)="inputChange('molagora' + skill.id, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
            </div>
        </div>
        <div class="damage-block">
            <!-- TODO: multiplier fxn breakdown button -->
            <!-- TODO: Add healing? -->
            <mat-card class="left">
                <app-damage-graph *ngIf="showGraph" class="damage-graph" #damageGraph></app-damage-graph>
                <div class="full-width neat-container flex-between">
                    <div class="flex-row neat-container large-margin-right">
                        <div class="bold-text small-padding-bottom" [ngClass]="!screenService.smallScreen.value ? 'extra-large-text' : 'large-text small-margin-top'">
                            {{"damageTitle" | translate:'form':languageService.language.value}}
                        </div>
                        <button type="button" class="small-margin-left color-grey button-line-left neat-container" (click)="saveBuild()" mat-flat-button>
                            <img class="svg-icon" [class.tiny-margin-right]="!screenService.mediumScreen.value" src="assets/icons/save.svg" alt="save">
                            <ng-container *ngIf="!screenService.mediumScreen.value">{{'save' | translate:'ui':languageService.language.value}}</ng-container>
                        </button>
                        <button type="button" class="color-blue button-line" (click)="compareBuilds()" mat-flat-button>
                            <img class="svg-icon" [class.tiny-margin-right]="!screenService.mediumScreen.value" src="assets/icons/compare.svg" alt="compare">
                            <ng-container *ngIf="!screenService.mediumScreen.value">
                                {{'compare' | translate:'ui':languageService.language.value}}
                            </ng-container>
                            <span *ngIf="savedBuildsCount" class="count-badge">{{savedBuildsCount}}</span>
                        </button>
                        <button type="button" class="color-orange button-line" (click)="toggleGraph()" mat-flat-button>
                            <img class="svg-icon white" [class.tiny-margin-right]="!screenService.mediumScreen.value" src="assets/icons/line-chart.svg" alt="graph">
                            <ng-container *ngIf="!screenService.mediumScreen.value">{{ (showGraph ? 'hideGraph' : 'showGraph') | translate:'ui':languageService.language.value}}</ng-container>
                        </button>
                        <button type="button" class="color-green button-line-right" mat-flat-button>
                            <img class="svg-icon white" [class.tiny-margin-right]="!screenService.mediumScreen.value" src="assets/icons/share-nodes-solid.svg" alt="share">
                            <ng-container *ngIf="!screenService.mediumScreen.value">{{'share' | translate:'ui':languageService.language.value}}</ng-container>
                        </button>
                    </div>
                    <div class="neat-container flex-row extra-large-margin-right">
                        <div *ngIf="!!artifactDamage && !collapsed" class="neat-container small-padding-top medium-text">
                            <div class="mini-card neat-container flex-row small-margin-left tiny-padding-right bold-text">
                                <img class="png-icon medium tiny-margin-right tiny-margin-left" src="assets/icons/artifact.png" alt="Artifact Damage">
                                <span class="microscopic-margin-bottom">
                                    {{artifactDamage}}
                                </span>
                                <img class="icon tiny tiny-margin-left" src="assets/icons/help-circle-outline.svg" alt="Hint" matTooltip="{{'artifactDamageHint' | translate:'ui':languageService.language.value}}">
                            </div>
                        </div>
                        <div *ngIf="heroDots.length && !collapsed" class="neat-container small-padding-top medium-text">
                            <div *ngFor="let dot of heroDots" class="mini-card neat-container flex-row small-margin-left tiny-padding-right bold-text">
                                <img class="png-icon medium tiny-margin-right tiny-margin-left" src="assets/debuffs/{{dot}}-debuff.png" alt="{{dot}}">
                                <span class="microscopic-margin-bottom">
                                    {{dotDamages[dot]}}
                                </span>
                            </div>
                        </div>
                        <div *ngIf="barriers.length && !collapsed" class="neat-container small-padding-top medium-text">
                            <div *ngFor="let barrier of barriers" class="mini-card neat-container flex-row small-margin-left tiny-padding-right bold-text">
                                <img class="png-icon medium tiny-margin-right tiny-margin-left" src="assets/buffs/barrier-buff.png" alt="Barrier">
                                <span class="microscopic-margin-bottom">
                                    {{barrier.label ? barrier.label + ": " : ''}}{{barrier.value}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="svg-icon large filter pointer collapse-icon" (click)="toggleTable()" src="{{collapsed ? 'assets/icons/chevron-up.svg' : 'assets/icons/chevron-down.svg'}}" alt="collapse">
                </div>
                <table [@collapseAnimation] *ngIf="!collapsed" [class.tiny-padding]="screenService.smallScreen.value" mat-table [dataSource]="damageData">
                    <ng-container matColumnDef="skill">
                      <th mat-header-cell *matHeaderCellDef> {{"skill" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.skill | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="crit">
                      <th mat-header-cell *matHeaderCellDef> {{"criticalHit" | translate:'form':languageService.language.value}} </th>
                      <!-- Intentionally using != instead of !== here to catch null and undefined -->
                      <!-- eslint-disable @angular-eslint/template/eqeqeq -->
                      <td mat-cell *matCellDef="let element"> {{element.crit != null ? element.crit : 'nonApplicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="crush">
                      <th mat-header-cell *matHeaderCellDef> {{"crushingHit" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.crush != null ? element.crush : 'nonApplicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="normal">
                      <th mat-header-cell *matHeaderCellDef> {{"normalHit" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.normal != null ? element.normal : 'nonApplicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="miss">
                        <th mat-header-cell *matHeaderCellDef> {{"miss" | translate:'form':languageService.language.value}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.miss != null ? element.miss : 'nonApplicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>
                    <!-- eslint-enable -->
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" [class.large-text]="!screenService.smallScreen.value"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.large-text]="!screenService.smallScreen.value"></tr>
                  </table>
            </mat-card>
        </div>
        <div class="credits-block">
            <mat-card class="left" [class.content-height]="!screenService.largeScreen.value">
                <div class="full-height" [ngClass]="screenService.largeScreen.value ? 'column-3' : 'column'">
                    <div class="credit-column">
                        <h2>{{'credits' | translate:'ui':languageService.language.value}}</h2>
                        <p>
                            Discord: @tyopoyt<br>
                            Thanks to the original creator, Maphe<br>
                            Thanks for the help: Thunder_God, okloio, haie<br>
                            Translation: Rano / TriATK <app-flag [country]="'cn'"></app-flag>
                            / <span class="icon-line"><img class="icon tiny tiny-margin-left tiny-margin-right svg-icon" src="assets/icons/incognito.svg" alt="Anonymous"></span>
                            <app-flag [country]="'kr'"></app-flag>
                            / Tagle <app-flag [country]="'jp'"></app-flag>
                            / RenanCrimininBR <app-flag [country]="'br'"></app-flag>
                        </p>
                    </div>
                    <div class="credit-column">
                        <h2>{{'references' | translate:'ui':languageService.language.value}}</h2>
                        <a class="icon-line" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRWZw_BeIhf32W9UIyPuyrr1VDeBuX6p1Nzxov4-5Pkt5DplChLovysSDN83mGVbsZ0XgYs2FICuRXA/pubhtml" target="_blank">Multiplier Spreadsheet <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                        <a class="icon-line" href="https://epic7x.com" target="_blank">Epic 7x <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                    </div>
                    <div class="credit-column">
                        <h2 class="text-uppercase">{{'contribute' | translate:'ui':languageService.language.value}}</h2>
                        <a class="icon-line" href="https://github.com/tyopoyt/epic7-damage-calc/issues" target="_blank">Raise a bug <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                    </div>
                </div>
            </mat-card>
        </div>
    </span>
</div>
