@use '@angular/material' as mat;
@import "../../../variables";

.header-block {
    h1 {
        font-weight: bold;
        margin: $gutter-jumbo 0 0;

        &.line-title {
            margin-top: $gutter;
        }
    }

    &.single-column {
        h1 {
            margin-top: 0;
            width: 100%;
            text-align: left;
            margin-bottom: $gutter;
        }
    }
}

.damage-block {
    position: sticky;
    bottom: 0;
    z-index: $damage-block-z-index;
    mat-card {
        // TODO: maybe remove elevation if scrolled to below the card? maybe event when credits scroll into view?
        @include mat.elevation(5)
    }

    .collapse-icon {
        position: absolute;
        right: $gutter;

        &.normal-top {
            top: $gutter-large;
        }

        &.smaller-top {
            top: $gutter;
        }

        &.graph-top {
            top: calc($gutter-large + 22.5rem)
        }

        &.graph-top-small {
            top: calc($gutter + 22.5rem)
        }
    }
}

.damage-graph {
    // height: 20rem;
    height: max-content;
}

.filter-select-container {
    margin-top: $gutter;

    &.jumbo-margin-top {
        margin-top: $gutter-jumbo;
    }

    &.flex-column {
        mat-form-field {
            width: 100%;
            margin-bottom: $gutter;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.multi-slide {
    @include mat.elevation(1)
}

.credits-block {
    margin-bottom: $gutter;

    .icon-line {
        position: relative;
    }

    mat-card {
        height: 9rem;

        &.content-height {
            height: max-content;
        }
    }

    h2 {
        margin-bottom: 0;
    }
    
    .svg-icon.link {
        position: absolute;
        top: $gutter-small;
    }

    .column-3 {
        div.credit-column {
            padding: 0 0 $gutter;
            height: calc(100% - $gutter);
            border-right: 1.5px solid $ui-medium-color;       
        }

        > :nth-child(1) {
            width: 50%;
        }
        > :last-child.credit-column {
            border-right: 0px;
        }
    }

    .column {
        p {
            margin: 0
        }

        > * {
            display: flex;
            flex-direction: column;
            border-bottom: 1.5px solid $ui-medium-color;
            padding-bottom: $gutter;
            height: min-content;
        }

        > :first-child {
            margin-bottom: $gutter;
        }

        > :nth-child(2) {
            margin-bottom: $gutter;
        }

        > :last-child {
            border: none;
            padding-bottom: 0;
        }
    }
    

    a {
        color:$e7-buff-color;
        font-size: 1.1rem;
        text-decoration: none;
        margin-bottom: $gutter-small;
        width: max-content;
    }
}

.mat-mdc-table {
    .cdk-column-skill {
        width: 25%;
    }
    
    .cdk-column-crit {
        width: 18.75%;
    }
    
    .cdk-column-crush {
        width: 18.75%;
    }
    
    .cdk-column-normal {
        width: 18.75%;
    }
    
    .cdk-column-miss {
        width: 18.75%;
    }
}

.preset-hint {
    font-size: small;
    margin: 0 0 0 $gutter-small;
    padding-top: $gutter-tiny;
}

