@use '@angular/material' as mat;
@import "../../../variables";

.header-block {
    h1 {
        font-weight: bold;
        margin: $gutter-jumbo 0 0;
    }
}

.damage-block {
    position: sticky;
    bottom: 0;
    z-index: $damage-block-z-index;
    mat-card {
        // height: 20rem;
        @include mat.elevation(2)
    }
}

.credits-block {
    margin-bottom: $gutter;
    mat-card {
        height: 20rem;
    }
}

.mat-mdc-table {
    .cdk-column-skill {
        width: 25%;
    }
    
    .cdk-column-crit {
        width: 18.75%;
    }
    
    .cdk-column-crush {
        width: 18.75%;
    }
    
    .cdk-column-normal {
        width: 18.75%;
    }
    
    .cdk-column-miss {
        width: 18.75%;
    }
}
