<!DOCTYPE html>
<div class="page-container sticky-bottom">
    <span class="page-body">
        <app-dismissible [content]="'damage_calculator_updates' | translate:'info':languageService.language.value" [color]="DismissibleColorOption.info"></app-dismissible>
        <!-- TODO: go to one column on small screens  -->
        <div class="filter-select-container full-width neat-container" [ngClass]="!screenService.mediumSmallScreen.value ? 'column-3' : 'flex-column'">
            <mat-form-field class="example-full-width neat-container has-icons">
                <img class="png-icon medium tiny-margin-right select-icon" src="assets/elements/{{hero.element}}.png" alt="{{hero.element}}">
                <img class="png-icon medium tiny-margin-right select-icon-2" src="assets/classes/{{hero.class}}.png" alt="{{hero.class}}">
                <mat-select [formControl]="heroControl" placeholder="" #singleSelect (selectionChange)="selectHero($event.value)">
                    <mat-option>
                        <!-- TODO: finish styling: Set light mode colors for select box and this search field -->
                        <ngx-mat-select-search spellcheck="false" [formControl]="heroFilterControl" placeholderLabel="Find hero..." noEntriesFoundLabel="No matching heroes found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let hero of filteredHeroes" class="has-icons" [value]="hero[0]">
                        <img class="png-icon medium tiny-margin-right select-option-icon" src="assets/elements/{{hero[1].element}}.png" alt="{{hero[1].element}}">
                        <img class="png-icon medium tiny-margin-right select-option-icon-2" src="assets/classes/{{hero[1].class}}.png" alt="{{hero[1].class}}">
                        {{hero[0] | translate:'heroes':languageService.language.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width neat-container has-icon">
                <img class="png-icon medium tiny-margin-right select-icon" src=" assets/{{artifact.heroExclusive.length ? 'heroes' : 'classes'}}/{{artifact.heroExclusive.length ? artifact.heroExclusive[0] + '-icon' : artifact.exclusive}}.png" alt="{{artifact.exclusive}}">
                <mat-select [formControl]="artifactControl" placeholder="" #singleSelect (selectionChange)="selectArtifact($event.value)">
                    <mat-option>
                        <ngx-mat-select-search spellcheck="false" [formControl]="artifactFilterControl" placeholderLabel="Find artifact..." noEntriesFoundLabel="No matching artifacts found"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let artifact of filteredArtifacts" class="has-icon" [value]="artifact[0]" [disabled]="(artifact[1].exclusive !== 'common' && artifact[1].exclusive !== hero.class) || (!!artifact[1].heroExclusive.length && !(artifact[1].heroExclusive.includes(heroID)))">
                        <img class="png-icon medium tiny-margin-right select-option-icon" src=" assets/{{artifact[1].heroExclusive.length ? 'heroes' : 'classes'}}/{{artifact[1].heroExclusive.length ? artifact[1].heroExclusive[0] + '-icon' : artifact[1].exclusive}}.png" alt="{{artifact[1].exclusive}}">
                        {{artifact[0] | translate:'artifacts':languageService.language.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field><mat-form-field class="example-full-width neat-container">
                <mat-select [formControl]="attackPresetControl" placeholder="" #singleSelect>
                    <mat-option *ngFor="let attackPreset of attackPresets" [value]="attackPreset[0]">
                        <span class="flex-row neat-container">{{attackPreset[0] | translate:'form':languageService.language.value}}<p *ngIf="attackPreset[1].attack && attackPreset[1].critDamage" class="preset-hint"> ({{attackPreset[1].attack}}atk/{{attackPreset[1].critDamage}}%cdam)</p></span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="neat-container full-width">
            <app-slide-input #attackSlider
                [label]="'attack' | translate:'form':languageService.language.value"
                [max]="10000" [min]="200" [default]="2500" (valueChange)="inputChange('attack', $event)"
                [column]="screenService.mediumScreen.value">
            </app-slide-input>
        </div>
        <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input
                    [label]="'attack_imprint' | translate:'form':languageService.language.value"
                    [max]="50" [min]="0" [default]="0" (valueChange)="inputChange('attackImprint', $event)"
                    [column]="!screenService.largeScreen.value" [hint]="'attack_imprint_hint' | translate:'form':languageService.language.value">
                </app-slide-input>
            </div>
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input
                    [label]="'attack_increase' | translate:'form':languageService.language.value"
                    [max]="20" [min]="0" [default]="0" (valueChange)="inputChange('attackIncreasePercent', $event)"
                    [column]="!screenService.largeScreen.value" [hint]="'attack_increase_hint' | translate:'form':languageService.language.value">
                </app-slide-input>
            </div>
        </div>
        <div class="neat-container full-width">
            <app-slide-input #critDamageSlider
                [label]="'crit_damage' | translate:'form':languageService.language.value"
                [max]="350" [min]="150" [default]="250" (valueChange)="inputChange('critDamage', $event)"
                [column]="screenService.mediumScreen.value">
            </app-slide-input>
        </div>
        <div class="neat-container full-width">
            <app-slide-input
                [label]="'damage_increase' | translate:'form':languageService.language.value"
                [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageIncrease', $event)"
                [column]="screenService.mediumScreen.value" [hint]="'damage_increase_hint' | translate:'form':languageService.language.value">
            </app-slide-input>
        </div>
        <div class="checkbox-holder">
            <mat-checkbox class="small-margin-top" [checked]="inputValues.elementalAdvantage" (change)="inputChange('elementalAdvantage', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/elements/{{advantageousElement}}.png" alt="{{advantageousElement}}">
                    {{'elemental_advantage' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.decreasedAttack" (change)="inputChange('decreasedAttack', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/debuffs/attack-debuff.png" alt="Attack break">
                    {{'decreased_attack' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.attackUp" (change)="inputChange('attackUp', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/attack-buff.png" alt="Attack buff">
                    {{'increased_attack' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.attackUpGreat" (change)="inputChange('attackUpGreat', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/greater-attack-buff.png" alt="Greater attack buff">
                    {{'increased_attack_great' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.increasedCritDamage" (change)="inputChange('increasedCritDamage', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/critical-hit-damage-buff.png" alt="Crit damage buff">
                    {{'increased_crit_damage' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.casterVigor" (change)="inputChange('casterVigor', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/buffs/vigor-buff.png" alt="vigor buff">
                    {{'vigor' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <!-- TODO: edit set pngs to have no margin -->
            <mat-checkbox class="small-margin-top" [checked]="inputValues.rageSet" (change)="inputChange('rageSet', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/rage-set.png" alt="Rage set">
                    {{'rage_set' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="inputValues.penetrationSet" (change)="inputChange('penetrationSet', $event.checked)">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/penetration-set.png" alt="Penetration set">
                    {{'penetration_set' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
            <mat-checkbox class="small-margin-top" [checked]="!!inputValues.torrentSetStack" (change)="inputChange('torrentSetStack', ($event.checked ? 1 : 0))">
                <span class="neat-container">
                    <img class="png-icon medium tiny-margin-right" src="assets/sets/torrent-set.png" alt="Torrent set">
                    {{'torrent_set' | translate:'form':languageService.language.value}}
                </span>
            </mat-checkbox>
        </div>
        <div *ngIf="artifact.id !== 'no_proc' && artifact.scale" class="artifact-block header-block">
            <h1>{{'artifact' | translate:'ui':languageService.language.value}}</h1>
            <div class="neat-container full-width">
                <app-slide-input
                    [label]="'level' | translate:'form':languageService.language.value"
                    [max]="30" [min]="0" [default]="30" (valueChange)="inputChange('artifactLevel', $event)"
                    [column]="screenService.mediumScreen.value">
                </app-slide-input>
            </div>
        </div>
        <div class="target-block header-block">
            <h1>Target</h1>
            <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input
                        [label]="'defense' | translate:'form':languageService.language.value"
                        [max]="5000" [min]="200" [default]="1000" (valueChange)="inputChange('targetDefense', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input
                        [label]="'defense_increase' | translate:'form':languageService.language.value"
                        [max]="20" [min]="0" [default]="0" (valueChange)="inputChange('targetDefenseIncrease', $event)"
                        [column]="screenService.mediumScreen.value" [hint]="'defense_increase_hint' | translate:'form':languageService.language.value">
                    </app-slide-input>
                </div>
            </div>
            <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.mediumScreen.value">
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input
                        [label]="'damage_reduction' | translate:'form':languageService.language.value"
                        [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageReduction', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div [class.full-width]="screenService.mediumSmallScreen.value">
                    <app-slide-input
                        [label]="'damage_transfer' | translate:'form':languageService.language.value"
                        [max]="100" [min]="0" [default]="0" (valueChange)="inputChange('damageTransfer', $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
            </div>
            <div class="checkbox-holder">
                <!-- <mat-checkbox class="small-margin-top" (click)="toggleStigmaPolitis()" [checked]="this.stigmaPolitis"> -->
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetDefenseUp" (change)="inputChange('targetDefenseUp', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/buffs/defense-buff.png" alt="Defense Buff">
                        {{'increased_defense' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetVigor" (change)="inputChange('targetVigor', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/buffs/vigor-buff.png" alt="Vigor Buff">
                        {{'vigor' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetDefenseDown" (change)="inputChange('targetDefenseDown', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/debuffs/defense-debuff.png" alt="Defense break">
                        {{'decreased_defense' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
                <mat-checkbox class="small-margin-top" [checked]="inputValues.targetTargeted" (change)="inputChange('targetTargeted', $event.checked)">
                    <span class="neat-container">
                        <img class="png-icon medium tiny-margin-right" src="assets/debuffs/target-debuff.png" alt="Target debuff">
                        {{'target' | translate:'form':languageService.language.value}}
                    </span>
                </mat-checkbox>
            </div>
        </div>
        <div *ngIf="hero.heroSpecific.length" class="hero-specific-block header-block">
            <h1>Hero Specific</h1>
            <div class="neat-container full-width">
                <div *ngFor="let input of heroSpecificNumberInputs" class="full-width">
                    <app-slide-input
                        [label]="input | translate:'form':languageService.language.value"
                        [max]="heroSpecificMaximums[input] || formDefaults[input]?.max || 10000"
                        [min]="formDefaults[input]?.min || 0" [step]="formDefaults[input]?.step || 1"
                        [default]="formDefaults[input]?.defaultValue || 5000"
                        (valueChange)="inputChange(input, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
                <div class="checkbox-holder">
                    <!-- TODO: add icons for buffs -->
                    <!-- TODO: add icons for EEs -->
                    <mat-checkbox *ngFor="let input of heroSpecificBooleanInputs"
                        class="small-margin-top" [checked]="!!inputValues[input]"
                        (change)="inputChange(input, $event.checked)">
                        <span class="neat-container">
                            <!-- <img class="png-icon medium tiny-margin-right" src="assets/elements/{{advantageousElement}}.png" alt="{{advantageousElement}}"> -->
                            {{input | translate:'form':languageService.language.value}}
                            <img class="icon tiny tiny-margin-left" *ngIf="formDefaults[input]?.hint" src="assets/icons/help-circle-outline.svg" alt="Hint" matTooltip="{{formDefaults[input]?.hint}}">
                        </span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="skill-enhance-block header-block">
            <h1>Skill Enhance</h1>
            <div class="multi-slide">
                <div *ngFor="let skill of skills" class="neat-container full-width">
                    <app-slide-input *ngIf="skill.enhance?.length"
                        [label]="skill.id | translate:'skills':languageService.language.value"
                        [max]="skill.enhance.length" [min]="0" [default]="skill.enhance.length" (valueChange)="inputChange('molagora' + skill.id, $event)"
                        [column]="screenService.mediumScreen.value">
                    </app-slide-input>
                </div>
            </div>
        </div>
        <div class="damage-block">
            <!-- TODO: DoTs, Artifact damage block, barriers, multiplier fxn breakdown button -->
            <!-- TODO: Add healing? -->
            <mat-card class="left">
                <div class="extra-large-text bold-text small-padding-top">
                    {{"damage_title" | translate:'form':languageService.language.value}}
                </div>
                <table class="margin-top" [class.tiny-padding]="screenService.smallScreen.value" mat-table [dataSource]="damageData">

                    <ng-container matColumnDef="skill">
                      <th mat-header-cell *matHeaderCellDef> {{"skill" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.skill | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="crit">
                      <th mat-header-cell *matHeaderCellDef> {{"critical_hit" | translate:'form':languageService.language.value}} </th>
                      <!-- Intentionally using != instead of !== here to catch null and undefined -->
                      <!-- eslint-disable @angular-eslint/template/eqeqeq -->
                      <td mat-cell *matCellDef="let element"> {{element.crit != null ? element.crit : 'non_applicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="crush">
                      <th mat-header-cell *matHeaderCellDef> {{"crushing_hit" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.crush != null ? element.crush : 'non_applicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="normal">
                      <th mat-header-cell *matHeaderCellDef> {{"normal_hit" | translate:'form':languageService.language.value}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.normal != null ? element.normal : 'non_applicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="miss">
                        <th mat-header-cell *matHeaderCellDef> {{"miss" | translate:'form':languageService.language.value}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.miss != null ? element.miss : 'non_applicable' | translate:'skills':languageService.language.value}} </td>
                    </ng-container>
                    <!-- eslint-enable -->
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" [class.large-text]="!screenService.smallScreen.value"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.large-text]="!screenService.smallScreen.value"></tr>
                  </table>
            </mat-card>
        </div>
        <div class="credits-block">
            <mat-card class="left" [class.content-height]="!screenService.largeScreen.value">
                <div class="full-height" [ngClass]="screenService.largeScreen.value ? 'column-3' : 'column'">
                    <div class="credit-column">
                        <h2>{{'credits' | translate:'ui':languageService.language.value}}</h2>
                        <p>
                            Discord: @tyopoyt<br>
                            Thanks to the original creator, Maphe<br>
                            Thanks for the help: Thunder_God, okloio, haie<br>
                            Translation: Rano / TriATK <app-flag [country]="'cn'"></app-flag>
                            / <span class="icon-line"><img class="icon tiny tiny-margin-left tiny-margin-right svg-icon" src="assets/icons/incognito.svg" alt="Anonymous"></span>
                            <app-flag [country]="'kr'"></app-flag>
                            / Tagle <app-flag [country]="'jp'"></app-flag>
                            / RenanCrimininBR <app-flag [country]="'br'"></app-flag>
                        </p>
                    </div>
                    <div class="credit-column">
                        <h2>{{'references' | translate:'ui':languageService.language.value}}</h2>
                        <a class="icon-line" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRWZw_BeIhf32W9UIyPuyrr1VDeBuX6p1Nzxov4-5Pkt5DplChLovysSDN83mGVbsZ0XgYs2FICuRXA/pubhtml" target="_blank">Multiplier Spreadsheet <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                        <a class="icon-line" href="https://epic7x.com" target="_blank">Epic 7x <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                    </div>
                    <div class="credit-column">
                        <h2 class="text-uppercase">{{'contribute' | translate:'ui':languageService.language.value}}</h2>
                        <a class="icon-line" href="https://github.com/tyopoyt/epic7-damage-calc/issues" target="_blank">Raise a bug <img class="icon tiny tiny-margin-left svg-icon link" src="assets/icons/open-in-new.svg" alt="Open link in new tab"></a>
                    </div>
                </div>
            </mat-card>
        </div>
    </span>
</div>
