<!DOCTYPE html>
<mat-toolbar class="navbar" [class.small]="screenService.smallScreen.value">
    <span class="neat-container absolute-left">
        <img class="navbar-icon" [class.small]="screenService.smallScreen.value" [class.tiny]="screenService.tinyScreen.value" src="assets/icons/{{toolSelection.value}}_logo.png" alt="Revive buff icon">
        <span *ngIf="!screenService.microscopicScreen.value" [class.medium-text]="screenService.smallScreen.value && !screenService.tinyScreen.value" [class.small-text]="screenService.tinyScreen.value">{{languageService.pageTitles[languageSelection.value.countryCode]["app_title"] || "E7Calc"}}</span>
    </span>
    <div class="navbar-options">        
        <span class="neat-container">
            <span *ngIf="screenService.largeScreen.value; else smallScreenPageSelect" class="neat-container">
                <span *ngFor="let toolTitle of toolTitles; let i = index" class="margin-left navbar-link"
                    [class.selected]="toolSelection.value === toolTitle" [class.left]="i === 0"
                    (click)="selectTool(toolTitle)">
                    {{languageService.pageTitles[languageSelection.value.countryCode][toolTitle] || languageService.pageTitles['us'][toolTitle]}}
                </span>
            </span>
            <ng-template #smallScreenPageSelect>
                <mat-form-field class="navbar-picker tool-picker" [class.small]="screenService.tinyScreen.value">
                    <mat-select hideSingleSelectionIndicator [formControl]="toolSelection" (selectionChange)="selectTool($event.value)">
                        <!-- This trigger has the same value but is here for styling purposes -->
                        <mat-select-trigger class="tool-trigger" [class.medium-text]="screenService.smallScreen.value && !screenService.tinyScreen.value" [class.small-text]="screenService.tinyScreen.value">
                            <span class="neat-container">
                                {{languageService.pageTitles[languageSelection.value.countryCode][toolSelection.value] || languageService.pageTitles['us'][toolSelection.value]}}
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let toolTitle of toolTitles" [value]="toolTitle">
                            {{languageService.pageTitles[languageSelection.value.countryCode][toolTitle] || languageService.pageTitles['us'][toolTitle]}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-template>
        </span>
        <!-- TODO: make the nav options become a select box with hamburger menu icon when screen is small -->
    </div>
    <span class="absolute-right">
        <mat-form-field class="navbar-picker language-picker" [class.small]="screenService.tinyScreen.value">
            <mat-select hideSingleSelectionIndicator [formControl]="languageSelection" (selectionChange)="selectLanguage($event)">
                <mat-select-trigger class="language-trigger">
                    <span *ngIf="!screenService.smallScreen.value || true; else shortenedTrigger" [class.small-text]="screenService.tinyScreen.value">
                        {{languageSelection.value.localName}} <app-flag [country]="languageSelection.value.countryCode"></app-flag>
                    </span>
                    <ng-template #shortenedTrigger>
                        <span>
                            {{(languageSelection.value.code | uppercase) + '-' + (languageSelection.value.countryCode | uppercase)}} <app-flag [country]="languageSelection.value.countryCode"></app-flag>
                        </span>
                    </ng-template>
                </mat-select-trigger>
                <mat-option *ngFor="let language of languages" [value]="language">
                    {{language.localName}} <app-flag [country]="language.countryCode"></app-flag>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</mat-toolbar>