@use '@angular/material' as mat;
@import '../../../variables';

.navbar-picker {
    align-items: center;
    align-self: center;
    display: flex;
    margin-top: 0.5rem;
    justify-content: flex-end;

    ::ng-deep.mat-mdc-select-trigger {
        top: -1.5px
    }

    ::ng-deep.mat-mdc-text-field-wrapper {
        height: $navbar-height;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    &.tool-picker {
      ::ng-deep.mat-mdc-text-field-wrapper {
        width: 13.75rem;
        padding: 0 0 0 0.4rem;
      }

      &.small {
        ::ng-deep.mat-mdc-text-field-wrapper {
            width: 11.75rem;
            padding-left: 0.3rem;
          }
      }
    }

    &.language-picker {
        justify-content: flex-end;

        ::ng-deep.mat-mdc-text-field-wrapper {
            width: 10rem;
            padding: 0;
        }

        &.small {
            ::ng-deep.mat-mdc-text-field-wrapper {
                width: 8rem;
            }
        }
    }

    ::ng-deep.mat-mdc-select-value {
        font-size: 1.2rem;
    }
}

.mat-mdc-unelevated-button:not(:disabled) {
    padding: $gutter;
}

.webp-icon {
    margin-right: $gutter-small;
    cursor: pointer;

    &.extra-item {
        margin-right: 0;
    }
}

span.menu-item {
    margin-left: $gutter;
}

.language-trigger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 1.75rem;
    text-align: right;
    margin-right: 1px;
    font-size: medium;
}

.tool-trigger {
    justify-content: flex-start;
    display: flex;
    line-height: 1.75rem;
    font-weight: 500;
}