$background-dark-color: #111111;
$ui-dark-color: #333333;
$ui-light-color: #f5f5f5;
$font-light-color: #DDDDDD;
$font-dark-color: #212529;
$e7-buff-color: #06abfe;
$e7-buff-contrast-color: #008ed5;
$dark-blue-contrast-color: #007bff;

$navbar-height: 3.5rem;