$background-dark-color: #1f1f1f;
$ui-lighter-color: #ebebeb;
$ui-light-color: #e6e6e6;
$ui-medium-light-color: #898989;
$ui-medium-color: #666666;
$ui-medium-dark-color: #454545;
$ui-dark-color: #333333;
$ui-darker-color: #272626;

$ui-light-theme-light-color: #EEEEEE;
$ui-light-theme-color: #DDDDDD;
$ui-light-theme-medium-color: #cccaca;

$font-light-color: #DDDDDD;
$font-light-color-filter: invert(100%) sepia(0%) saturate(1701%) hue-rotate(278deg) brightness(106%) contrast(73%);
$white-to-font-light-filter: invert(5%) sepia(78%) saturate(0%) hue-rotate(246deg) brightness(109%) contrast(84%);
$font-dark-color: #212529;
$font-dark-color-filter: invert(12%) sepia(4%) saturate(1687%) hue-rotate(169deg) brightness(93%) contrast(91%);
$e7-buff-color: #06abfe;
$e7-buff-ui-color: #059AE5;
$e7-buff-color-filter: invert(52%) sepia(47%) saturate(3763%) hue-rotate(173deg) brightness(104%) contrast(99%);
$e7-buff-color-low-opacity: rgba(6, 171, 254, 0.1);
$e7-buff-medium-color: #039eeb;
$e7-buff-darker-color: #0075af;
$e7-buff-contrast-color: #008ed5;
$e7-debuff-color: #ef242d;
$e7-debuff-color-filter: invert(22%) sepia(85%) saturate(2226%) hue-rotate(339deg) brightness(102%) contrast(107%);
$e7-earth-color: #8ed02b;
$e7-earth-dark-color: #44d02b;
$e7-earth-ui-color: #3aaa27;
$e7-earth-dark-color-filter: invert(57%) sepia(19%) saturate(1650%) hue-rotate(65deg) brightness(109%) contrast(105%);
$e7-ice-color: #1eacff;
$e7-fire-color: #e54332;
$e7-unique-effect-color: #d9b75e;
$ui-orange-color: #DE7715;
$ui-info-color: #41A288;
$white-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(31deg) brightness(101%) contrast(105%);

$navbar-height: 3.5rem;
$medium-font-size: 1rem;
$gutter-jumbo: 1.5rem;
$gutter-extra-large: 1rem;
$gutter-large: 0.75rem;
$gutter: 0.5rem;
$gutter-small: 0.25rem;
$gutter-tiny: 0.125rem;
$gutter-indent: 2rem;

$language-arrow-top: 0.94rem;

$damage-block-z-index: 1199;
$navabar-z-index: 1200;
$popup-z-index: 1201;