<!DOCTYPE html>
<div class="page-container">
    <span class="page-body">
        <app-dismissible [content]="'speed_solver_instructions' | translate:'info':languageService.language.value" [color]="DismissibleColorOption.instructions"></app-dismissible>
        <div class="full-width flex-aligned flex-between has-radio-buttons" [ngClass]="!screenService.mediumSmallScreen.value ? 'flex-row' : 'flex-column'">
            <mat-radio-group [formControl]="solverTypeControl" (change)="setSolverType($event.value)" aria-label="Hit type">
                <mat-radio-button class="pointer" value="slower">{{'solveSlower' | translate:'ui':languageService.language.value}}</mat-radio-button>
                <mat-radio-button class="pointer" value="faster">{{'solveFaster' | translate:'ui':languageService.language.value}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="neat-container full-width" [class.column-2]="!screenService.mediumSmallScreen.value" [class.full-width-number-input]="!screenService.largeScreen.value">
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input
                    [label]="'slower_unit_cr' | translate:'form':languageService.language.value"
                    [max]="100" [min]="0" [default]="75" (valueChange)="slowerCRChange($event)"
                    [column]="!screenService.largeScreen.value">
                </app-slide-input>
                <app-slide-input
                    [class.hidden]="solverTypeControl.value === 'slower'"
                    [label]="'slower_unit_speed' | translate:'form':languageService.language.value"
                    [max]="400" [min]="90" [default]="200" (valueChange)="slowerSpeedChange($event)"
                    [column]="!screenService.largeScreen.value">
                </app-slide-input>
            </div>
            <div [class.full-width]="screenService.mediumSmallScreen.value">
                <app-slide-input
                    [class.hidden]="solverTypeControl.value === 'faster'"
                    [label]="'faster_unit_speed' | translate:'form':languageService.language.value"
                    [max]="400" [min]="90" [default]="300" (valueChange)="fasterSpeedChange($event)"
                    [column]="!screenService.largeScreen.value">
                </app-slide-input>
                <app-slide-input
                    [class.hidden]="solverTypeControl.value === 'slower'"
                    [label]="'faster_unit_cr' | translate:'form':languageService.language.value"
                    [max]="199" [min]="0" [default]="100" (valueChange)="fasterCRChange($event)"
                    [column]="!screenService.largeScreen.value">
                </app-slide-input>
            </div>
        </div>
        <div class="neat-container">
            <app-header-card
                class="full-width" [fullWidth]="true" [left]="true"
                [header]="'speed_range' | translate:'form':languageService.language.value"
                [content]="speedRangeText" [normalWeight]="true"
                [color]="HeaderCardComponentColorOption.none" [contentSize]="HeaderCardComponentSizeOption.large"
                [hint]="'speed_range_hint' | translate:'form':languageService.language.value">
            </app-header-card>
        </div>
        <div class="neat-container">
            <app-header-card
                class="full-width" [fullWidth]="true" [left]="true"
                [header]="'probable_speed' | translate:'form':languageService.language.value"
                [content]="avgSpeedText" [color]="displayColor" [contentSize]="HeaderCardComponentSizeOption.large"
                [hint]="'probable_speed_hint' | translate:'form':languageService.language.value">
            </app-header-card>
        </div>
    </span>
</div>
