<!-- TODO: translate -->
<h1 mat-dialog-title>Compare Damage</h1>
<div mat-dialog-content>
    <table *ngIf="!!damageData.data.length; else noBuilds" [class.tiny-padding]="screenService.smallScreen.value" mat-table [dataSource]="damageData">
        <ng-container matColumnDef="buildName">
          <th mat-header-cell *matHeaderCellDef> {{"build" | translate:'form':languageService.language.value}} </th>
          <td mat-cell *matCellDef="let element"> {{element.buildName | translate:'skills':languageService.language.value}} </td>
        </ng-container>

        <ng-container *ngFor="let skill of skills; index as i">
            <ng-container matColumnDef="{{skill}}">
                <th mat-header-cell *matHeaderCellDef> {{skill | translate:'form':languageService.language.value}} </th>
                <td mat-cell *matCellDef="let element"> {{element.damages[i]}} </td>
            </ng-container>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" [class.large-text]="!screenService.smallScreen.value"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.large-text]="!screenService.smallScreen.value"></tr>
      </table>
      <ng-template #noBuilds>
        <div class="text-color">
            No builds have been saved for this hero.
        </div>
      </ng-template>
</div>
<div mat-dialog-actions>
  <button *ngIf="!!damageData.data.length" (click)="removeAllBuilds()" mat-button>
    <img class="svg-icon filter medium tiny-margin-right" src="assets/icons/delete.svg" alt="save">
    Remove All Builds
  </button>
  <button mat-button (click)="close()" class="color-blue light-text" cdkFocusInitial>
    Close
  </button>
</div>
