<!DOCTYPE html>
<!--<div class="page-container">
    <span class="page-body">
    <app-slide-input [label]="'Hit Chance (%)'" [max]="100" [min]="0" [default]="100" [step]="5" (valueChange)="hitChanceChange($event)"></app-slide-input>
    <app-slide-input [label]="'Skill Effect Chance (%)'" [max]="100" [min]="0" [default]="100" [step]="5" (valueChange)="effectChanceChange($event)"></app-slide-input>
    <app-slide-input [label]="'Caster\'s Effectiveness'" [max]="400" [min]="0" [default]="0" (valueChange)="effectivenessChange($event)"></app-slide-input>
    <app-slide-input [label]="'Target\'s Effect Resistance'" [max]="400" [min]="0" [default]="0" (valueChange)="resistanceChange($event)"></app-slide-input>
    <div class="result-cards neat-container flex-between" [class.flex-column]="screenService.smallScreen.value">
    <app-header-card [class.full-width]="screenService.smallScreen.value" [left]="true" [fullWidth]="screenService.smallScreen.value" [header]="'Inflict Effect'" [content]="inflictText" [color]="'green'" [contentSize]="'large'" [hint]="inflictHint"></app-header-card>
    
    <span class="neat-container" [class.full-width]="screenService.smallScreen.value" [class.flex-column]="screenService.smallScreen.value">
    <app-header-card [class.full-width]="screenService.smallScreen.value" [left]="screenService.smallScreen.value" [fullWidth]="screenService.smallScreen.value" [header]="'Caster to Land'" [content]="landText" [color]="'blue'" [contentSize]="'large'" [hint]="landHint"></app-header-card>
    <app-header-card [class.full-width]="screenService.smallScreen.value"[left]="screenService.smallScreen.value" [fullWidth]="screenService.smallScreen.value" [header]="'Target to Resist'" [content]="resistText" [color]="'red'" [contentSize]="'large'" [hint]="resistHint"></app-header-card>
    </span>
    </div>
    </span>
    </div> -->
