@import '../../../../variables';

mat-card {
  margin: 0.5rem 0 0;
}

.slider-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
}

.slider-col {
  width: 100%;
  display: flex;
  flex-direction: column;

  app-number-input-group {
    margin-top: 0.75rem;
  }
}

mat-slider {
    width: calc(100% - 1.2rem);
    margin: 0;

    // ::ng-deep.mdc-slider__thumb {
    //   --mat-mdc-slider-focus-ripple-color: #{$e7-buff-color-low-opacity};
    //   --mat-mdc-slider-hover-ripple-color: #{$e7-buff-color-low-opacity};
    // }

    // ::ng-deep.mdc-slider__track--active_fill {
    //   background-color: $e7-buff-darker-color !important;
    //   border: none;
    // }

    // ::ng-deep.mdc-slider__thumb-knob {
    //   background-color: $e7-buff-contrast-color !important;
    //   border: none;
    // }

    // ::ng-deep.mdc-slider__track--inactive {
    //   background-color: $e7-buff-darker-color !important;
    //   opacity: 0.2;
    // }
}

.extra-label {
  font-size: 1rem;
  background-color: $ui-medium-color;
  border-radius: $gutter;
  padding: $gutter-tiny $gutter-small $gutter-small;
  color: $font-light-color
}